.main {
  max-width: 736px;
  margin: auto;
  padding-inline: 1rem;
}

.loading-spinner {
  svg {
    width: 5rem;
    height: 5rem;
    color: var(--purple-dark);

    animation: spin 0.8s linear infinite;
  }

  display: flex;
  justify-content: center;

  margin-top: 4rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
