.addTask {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-top: -1.6875rem;
}

.input {
  width: 100%;
}

.input input {
  width: 100%;
  background-color: var(--gray-500);
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
  outline: none;

  transition: 0.2s ease;
}

.input input.validate {
  border: 1px solid var(--danger);
}

.input input::placeholder {
  color: var(--gray-300);
}

.input input:focus {
  border: 1px solid var(--purple-dark);
  box-shadow: none;
}

.input span {
  font: var(--text-md);
  color: var(--danger)
}

.button {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  font: var(--text-md);
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
}

.button:not(:disabled):hover {
  background-color: var(--blue);
  transition: background 0.2s;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.loading {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
